div {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

input select {
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
}
