<!-- <app-basic-form></app-basic-form> -->
<!-- <app-basic-form-reactive></app-basic-form-reactive> -->
<!-- <app-form-directives-component></app-form-directives-component> -->
<!-- <app-task-list></app-task-list> -->
<!-- <app-pipe-component></app-pipe-component> -->
<!-- <app-flight-booking></app-flight-booking> -->
<!-- <app-register-component></app-register-component> -->
<!-- <app-http-intro></app-http-intro> -->
<!-- <app-product-component></app-product-component> -->
<!-- <app-subject-intro></app-subject-intro> -->
<!-- <app-subject-intro-second></app-subject-intro-second> -->
<!-- <app-star-wars></app-star-wars> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-tab-group-component>
    <app-tab-component title="Button1">
        <p>This is the content of Button1</p>
    </app-tab-component>

    <app-tab-component title="Button2">
        <p>This is the content of Button2</p>
    </app-tab-component>

    <app-tab-component title="Button3">
        <p>This is the content of Button3</p>
    </app-tab-component>
</app-tab-group-component> -->

<app-job-board></app-job-board>