<!-- <app-basic-form></app-basic-form> -->
<!-- <app-basic-form-reactive></app-basic-form-reactive> -->
<!-- <app-form-directives-component></app-form-directives-component> -->
<!-- <app-task-list></app-task-list> -->
<!-- <app-pipe-component></app-pipe-component> -->
<!-- <app-flight-booking></app-flight-booking> -->
<!-- <app-register-component></app-register-component> -->
<!-- <app-http-intro></app-http-intro> -->
<app-product-component></app-product-component>

<!-- <router-outlet></router-outlet> -->