<div class="main-container">
    <div>
        <h1>Flight Booking</h1>
        <label for="flight-ways">Route: </label>
        <select [(ngModel)]="selectedFlightWay">
            <option name="flight-ways" *ngFor="let flightways of ways" [value]="flightways">{{ flightways }}</option>
        </select>
    </div>
    <div>
        <label>Departure Date: </label>
        <input type="date" [(ngModel)]="departureDate" [min]="todaysDate">
    </div>
    <div *ngIf="selectedFlightWay == 'Return-flight'">
        <label>Arrival Date: </label>
        <input type="date" [(ngModel)]="arrivalDate" [min]="departureDate || todaysDate">
    </div>
    <div *ngIf="selectedFlightWay.length != 0">
        <button (click)="bookFlight()">Book Flight</button>
    </div>
</div>