<div *ngIf="TASKS.length ==0">
    NO TASKS AVAILABLE
</div>
<div *ngIf="TASKS.length !=0">
    <div *ngFor="let task of TASKS">
        <h4 [ngStyle]="{ 'text-decoration': task.dueDate < todayDate ? 'line-through': 'none'}">
            {{task.title}}: 
        </h4>
        <p appColorChange>
            {{task.description}}    
        </p>
        <label for="status">Status: </label>&nbsp;
        <select name="status" [(ngModel)]="task.status">
            <option value="Incomplete">Incomplete</option>
            <option value="Completed">Completed</option>
            <option value="In Progress">In-Progress</option>
        </select>
        <p>-------------------------------------------------------------------------</p>
    </div>
</div>
<div>
    <h3>ADD NEW TASK</h3>
    <div class="field">
        <label for="title">TITLE: </label>
        <input type="text" name="title" [(ngModel)]="newTask.title">
    </div>
    <div class="field">
        <label for="description">DESCRIPTION: </label>
        <input type="text" name="description" [(ngModel)]="newTask.description">
    </div>
    <div class="field">
        <label for="dueDate">DUE DATE: </label>
        <input type="date" name="dueDate" [(ngModel)]="newTask.dueDate">
    </div>
    <button (click)="addTask()">ADD TASK</button>
</div>