<div *ngIf="TASKS.length ==0">
    NO TASKS AVAILABLE
</div>
<div *ngIf="TASKS.length !=0">
    <div *ngFor="let task of TASKS">
        <h4 [ngStyle]="{ 'text-decoration': task.dueDate < todayDate ? 'line-through': 'none'}">
            {{task.title}}: 
        </h4>
        <p appColorChange>
            {{task.description}}    
        </p>
        <label for="status">Status Options</label>&nbsp;
        <select name="status" [(ngModel)]="task.status">
            <option value="Incomplete">Incomplete</option>
            <option value="Completed">Completed</option>
            <option value="In Progress">In-Progress</option>
        </select>
    </div>
</div>